html {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Karla', sans-serif;
  width: inherit;
  height: inherit;
  font-size: 100%;
  
}

ul,li {
  list-style: none;
}

h2 {
  padding: 0;
  margin: 0;
}


.route-container {
  width: 100vw;
  height: 100vh;
  /* background-color: blue; */
}

.loginpage-master-container {
  width: 100vw;
  height: 100vh;
  display:flex;
  flex-direction: column;
}

.loginpage-logo-container {
  background-color: #ff6e6e;
  flex-basis: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginpage-form-container {
  background-color: white;
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.loginpage-form-container ul li {
  color: #919191;
  font-size: 150%;
}

.loginpage-form-container ul li input {
  border: 2px solid #ff6e6e;
  border-radius: 5%;
  font-size: 65%;
}

.loginpage-form-container ul li button {
  background-color: #ff6e6e;
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 5px;
  margin-top: 10px;
  border: 2px solid #ff6e6e;

}

.loginpage-form-container ul li button:hover {
  background-color: white;
  color: #ff6e6e;
  border: 2px solid #ff6e6e;
}

.logo {
 width: 300px;
}

.profile-part {
  display: inline-block;    
}
.profile-part img{
  width: 70px;
  height: 70px;
} 

.goal-checkin-block {
  display: block;
  /* width: 250px; */
  width: 100%;
  
}
.checkin {
  display: flex;

}

.username {
  text-align: center;
  font-size: 0.8em;
}

.deadline {
  font-size: 0.6em;
  /* font-style: italic; */
  text-align: right;
  color: gray;
}

.goalname {
  font-size: 0.8em;
}
.goal-part {
  background-color: rgb(252, 167, 167);
  padding: 2px;
  margin-bottom: 5px;
}

.checkin-created {
  font-size: 0.6em;
  text-align: right;
  color: gray;
}

@media  (min-width: 500px) {

  .loginpage-master-container {
    flex-direction: row-reverse;
  }

  .loginpage-form-container {
    align-self: center;
  }
}