html {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Karla', sans-serif;
  width: inherit;
  height: inherit;
  font-size: 100%;
}

ul,li {
  list-style: none;
  padding: 0px;
}

a {
  text-decoration: none;
  color: black;
}

h2, h1{
  padding: 0;
  margin: 0;
}

.route-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  /* background-color: blue; */
}

.content-container {
  background-color: turquoise;
  height: 100vh;
  width: 100vw;
}
.navbar-placeholder {
  height: 200px;
  width: 100vw;
  /* background-color: gold; */
}

.navbar {
  background-color: #ff6e6e;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.navbar ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.navbar ul li i {
  color: white;
  text-shadow: -4px 3px 2px #c54040, -3px 5px #c74b16;
}

/* Grow */
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
  transform: scale(1.1);
}

.loginpage-master-container {
  width: 100vw;
  height: 100%;
  display:flex;
  flex-direction: column;
}

.loginpage-logo-container {
  background-color: #ff6e6e;
  flex-basis: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginpage-form-container {
  background-color: white;
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loginpage-form-container ul li {
  color: #919191;
  font-size: 150%;
}

.loginpage-form-container ul li input {
  border: 2px solid #ff6e6e;
  border-radius: 5%;
  font-size: 65%;
}

.loginpage-form-container ul li button {
  background-color: #ff6e6e;
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 5px;
  margin-top: 10px;
  border: 2px solid #ff6e6e;

}

.loginpage-form-container ul li button:hover {
  background-color: white;
  color: #ff6e6e;
  border: 2px solid #ff6e6e;
}

.logo {
 width: 300px;
}



.profile-part {
  display: inline-block;    
}
.profile-part img{
  width: 70px;
  height: 70px;
} 

.goal-checkin-block {
  display: block;
  /* width: 250px; */
  width: 100%;
  
}
.checkin {
  display: flex;

}

.username {
  text-align: center;
  font-size: 0.8em;
}

.deadline {
  font-size: 0.6em;
  /* font-style: italic; */
  text-align: right;
  color: gray;
  text-shadow: 0px 0px 0px gray;
}

.goalname {
  font-size: 0.8em;
}
.goal-part {
  background-color: #ff6e6e;
  padding: 2px;
  margin-bottom: 5px;
  color: white;
  text-shadow: 1px 1px 1px #c54040, 1px 1px #c74b16;  
}

.checkin-created {
  font-size: 0.6em;
  text-align: right;
  color: gray;
}

.friend-container ul {
  display: flex;
  background-color: #919191;
  align-items: center;
  margin: 0;
  padding: 10px;
  justify-content: space-evenly;
  border-bottom: 1px white solid;
}

.friend-container ul li img {
  width: 75px;
  height: auto;
}

.friend-container ul li span {
  font-size: 250%;
  margin-left: 4vw;
}

.friend-container ul li i {
  margin-left: 40vw;
}

.friend-form {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;

}

.friend-form input {
 flex-basis: 90%;
  border: .5px black solid;
  height: 34px;
}

.friend-form i {
  text-align: center;
  flex-basis: 10%;
  background-color: #ff6e6e;
  border: .5px black solid;
  padding: 2px;

}
@media  (min-width: 500px) {

  .loginpage-master-container {
    flex-direction: row-reverse;
  }

  .loginpage-form-container {
    align-self: center;
  }
}

.date-input{
  min-width: 35px;
}

.profile-icon-part{
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
}

.profile-icon-part img{
  width: 110px;
  height: 110px;
} 

.profile-goals-part{
  border-top: 2px gray solid;
}


.profile-goal h3{
  margin: 0px;
}

.profile-title {
  background-color: #ff6e6e;
  color: white;
  text-shadow: 1px 1px 1px #c54040, 1px 1px #c74b16;
  display: flex;
  justify-content: space-between;
  padding: 2px;
}

.inline{
  display: inline-block;
}

.white{
  color: white;
}

.add-checkin{
  display: flex;
  justify-content: space-between;
  /* margin-left: 2 */
}