html {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Karla', sans-serif;
  width: inherit;
  height: inherit;
  font-size: 100%;
  
}

h2 {
  padding: 0;
  margin: 0;
}

.route-container {
  background-color: blue;
}
.loginpage-master-container {
  /* background-color: pink; */
}